/__pycache__/
/Resources/Images/3rd party unused/
/Out.txt
/build/
/log.txt
/Update/
/.project
/.pydevproject
/Map Maker/__pycache__/
/Map Maker/Resources/__pycache__/
/Saves/current.version
/Saves/__pycache__
/Map Maker/Resources/desktop.ini
/Function Calltimes.txt
/Calltime Dump.txt
/Saves/
/Crash Reports/
/Multiplayer/__pycache__/
/requests/
/log.log
/logs/
